body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

nav{
background:#020617;
padding:20px;
display:flex;
justify-content:space-between;
}

.links a{
color:white;
margin-left:20px;
text-decoration:none;
}

header{
padding:60px;
text-align:center;
}

.card{
background:#020617;
margin:30px;
padding:30px;
border-radius:10px;
}
